.btn-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  background: rgb(84, 139, 194);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  background: gray;
  cursor: not-allowed;
}